<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Component scan-->
    <context:component-scan base-package="dev.lvergergsk.spring.springcourses.boot"/>

    <!--Explicitly add beans-->
    <bean id="xmlJdbcConnection" class="dev.lvergergsk.spring.springcourses.boot.xml.XmlJdbcConnection"/>
    <bean id="xmlPersonDAO" class="dev.lvergergsk.spring.springcourses.boot.xml.XmlPersonDao">
        <property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
    </bean>

</beans>